__pycache__/
*.pyc
.coverage
*.egg-info/
build/
dist/

*.bak

examples/adk/init_MD/adk.*
examples/ntl9/init_MD/ntl9.*
examples/*/init_MD/reweight_config.json
examples/trpcage/init_MD/trpcage.dcd
examples/trpcage/init_MD/trpcage.log
examples/trpcage/init_MD/trpcage.xml
